.bgimage {
    height:100vh;
    background: url('https://static.vecteezy.com/system/resources/previews/002/207/827/original/abstract-neon-background-free-vector.jpg');
    background-size:cover;
    position:relative;
}

/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* about section image css */
.imageAboutPage {
    width: 100%;
    border-radius: 30px;
}

/* skills section css */
.skillsText.card {
    /* height: 280px; */
    height: 200px;
    font-size: small;
}

.card-title {
    text-align: center;
}

.skillsText:hover {
    border: 1px solid #d63384;
}

.portfolioContent.card {
    height: 280px;
    font-size: small;
}

/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-instagram:hover, .fa-linkedin:hover {
    color: #d63384;
}
.fab {
    color: #000000;
}
/* footer styling */
#footer {
    background-color: #808080;
    text-align: center;
}

/* spacing on all sections */
#about, #skills, #portfolio {
    margin-top: 2rem;
    padding-top: 2rem;
}
/* #contact {
    padding-bottom: 4rem;
} */