.bgimage {
    height:100vh;
    background-size:cover;
    position:relative;
    background-color: #03045e;
}

/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.profile-pic {
    border-radius: 30px;
}

/* about section image css */
.imageAboutPage {
    width: 100%;
    border-radius: 30px;
}

/* skills section css */
.skillsText.card {
    height: 180px;
    font-size: small;
}

.card-title {
    text-align: center;
}

.portfolioContent.card {
    height: 280px;
    font-size: small;
}

/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-instagram:hover, .fa-linkedin:hover, .fa-github:hover {
    color:#03045e;
}
.fab {
    color: #000000;
}

/* spacing on all sections */
#about, #skills, #portfolio, #contact {
    margin-top: 2rem;
    padding-top: 2rem;
}

#contact {
    text-align: center;
    padding-bottom: 4rem;
    background-color: lemonchiffon; 
}